@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


html {
  background: radial-gradient(circle, #796d8d 1.8%, #312443 100%);
  background-blend-mode: normal;
  background-size: 180%;
  background-position: right 20%;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  background: radial-gradient(circle, #796d8d 1.8%, #312443 100%);
  background-blend-mode: normal;
  background-size: 180%;
  background-position: right 20%;

  --background-colour: #eee;
  --accent: #796d8d;
  --light-accent: #b6afc1;

  font-family: 'Lexend', Helvetica, sans-serif;

}

#wheelimg {
  position: fixed;
  object-fit: contain;
  height: 100vh;
  bottom: -45vh;
  left: -45vh;
  transform: rotate(5deg);
  filter: blur(8px);
}

h2 {
  font-family: 'Lexend', sans-serif;
}

h3 {
  font-family: 'Lexend', sans-serif;
  margin-top: -30px;
}

.centered {
  display: grid;
  place-items: center;
  align-content: center;
}

#success-message {
  font-family: 'Lexend', sans-serif;
  background-color: greenyellow;

  z-index: 10;
}

#buttons {
  position: absolute;
  top: 50vh;

}

#buttons button {
  font-family: 'Lexend', sans-serif;
  font-size: larger;
  z-index: 1;
  width: 250px;
  height: 100px;
  border: none;
  margin: 0 2vw 0 2vw;
  border-radius: 50px;
  background: #ededed;
  /* box-shadow:  -20px -20px 72px #c9c9c9,
                 20px 20px 72px #ffffff; */

}

#buttons button:hover {
  border-radius: 50px;
  background: #d1d1d1;
  /* box-shadow:  -20px -20px 72px #b2b2b2,
                 20px 20px 72px #f0f0f0; */
}

#logo {
  position: absolute;
  top: 15vh;
  object-fit: contain;
  width: 15rem;
  background-color: var(--background-colour);
  padding: 0.5em;
  border-radius:10rem;
}

#logo-text{
  color: #ffffff;
  position: absolute;
  top: 40vh;
}





/* Registration page */
#RegistrationLogo {
  position: absolute;
  top: 3em;
  left: 3em;
  object-fit: contain;
  width: 12vw;
  background-color: var(--background-colour);
  border-radius: 20vw;
  padding: 1em;
}


#registrationform {
  position: absolute;
  height: 80vh;
  aspect-ratio: 0.8;
  top: 10vh;
  right: 14vw;
  background-color: var(--background-colour);
  border-radius: 2.2rem;
  box-sizing: border-box;
  padding: 4em 4em 2.5em 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#internalform {
  display: flex;
  flex-direction: column;

}

#internalform input {
  margin-bottom: 2em;
  line-height: 1.9em;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--light-accent);
  background-color: var(--background-colour);
  font-size: 1em;
}



#internalform input:focus {
  border-color: var(--accent);
  outline: none;
}

#registrationform h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#registrationform label {
  font-size: 1.1em;
}

#submitform {
  background-color: var(--light-accent);
  color: white;
  width: fit-content;
  padding: 1em 3em;
  outline: 0;
  border: 0;
  border-radius: 2em;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}

#submitform:hover {
  background-color: var(--accent);
}

#submitsuccess {
  background-color: greenyellow;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Add media query for mobile */
@media (max-width: 550px) {
  #registrationform {
    right: unset;
    transform: translateX(-50%);
    left: 50%;
    width: 95vw;
    top: 15vh;
  }
  #ticketingForm {
    right: unset;
    transform: translateX(-50%);
    left: 50%;
    width: 95vw;
  }

  #RegistrationLogo {
      /* position: absolute;
      top: 1em;
      left: 1em;
      object-fit: contain;
      width: 8vw;
      background-color: var(--background-colour);
      border-radius: 20vw;
      padding: 1em; */
      display: none;
  }
  #registration-blurb{
    display: none;
  }
  .ticketPrice{
    color: #312443;
  }
}


/* Lucky draw page */
h1 {
  color: white;
  position: absolute;
  display: block;
  font-size: 6em;
  margin: 0;
  top: 6rem;
  left: 6rem;
}

#luckydrawtitle {
  color: white;
  position: absolute;
  display: block;
  font-size: 6em;
  margin: 0;
  top: 15rem;
  left: 93rem;
}

#lucky-draw-container {
  position: absolute;
  width: 75vw;
  height: 20vh;
  right: 15vw;
  top: 42vh;

  text-align: right;
  font-size: 4.5em;
  color: white;
}

#winner-name {
  display: block;
  text-decoration: underline;
}

#lucky-draw-button {
  font-size: 3rem;
  font-family: 'Lexend', sans-serif;
  background-color: var(--light-accent);
  color: white;
  width: fit-content;
  padding: 1em 2em;
  outline: 0;
  border: 0;
  border-radius: 2em;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}



#vuw-container {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  width: 50vw;
  height: 20vh;
}

#vuw-logo {
  object-fit: contain;
  width: 7rem;
  background-color: var(--background-colour);
  padding: 0.5em;
  border-radius: 8rem;
  position: absolute;
  right: 0;
  z-index: 2;
}

#vuw-text {
  position: absolute;
  font-size: 1.25em;
  width: 500px;
  bottom: 0;
  right: 3em;
  background-color: var(--accent);
  color: white;
  padding: 1em 1em;
  border-radius: 1em;
  text-align: center;
}



#ticketingForm {
  position: absolute;
  aspect-ratio: 0.8;
  max-width: 800px;
  min-width: 400px;
  top: 10vh;
  right: 14vw;
  background-color: #eee;
  border-radius: 2.2rem;
  box-sizing: border-box;
  padding: 4em 4em 2.5em 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#ticketingForm h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.ticketingBox {
  /* background-color: #ffffff; */
  
}

.ticketHeader{
  margin-top: 0px;

}

.ticketPrice{
  float: right;
}

.ticketDescription{
  color: #414040;
}


#qrscannerbox {
  position: absolute;
  border-radius: 2.2rem;
  box-sizing: border-box;
  padding: 4em 4em 2.5em 4em;
  top: 4vh;
  background-color: white;
  right: unset;
  transform: translateX(-50%);
  left: 50%;
  width: 95vw;
}

#reader {
  background-color: #b890f0;
  padding: 4em 4em 2.5em 4em;
  position: absolute;
  
  border-radius: 0 0 2.2rem 2.2rem;
  box-sizing: border-box;
    transform: translateX(-50%);
  left: 50%;
  width: 95vw;
  top: 200px;
}
#output{
  background-color: #ffffff;
  padding: 4em 4em 2.5em 4em;
  position: absolute;
  border-radius: 2.2rem 2.2rem 0 0;
  box-sizing: border-box;
    transform: translateX(-50%);
  left: 50%;
  width: 95vw;
  height: 200px;
  
}

.outputtxt{
  font-size: large;
}

#outputheader{
  margin: 0;
}








/* Bubbles */
.bubbles {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #b9afcb;
  border-radius: 50%;
  opacity: 0.1;
  filter: blur(9px);
  animation: rise 10s infinite ease-in;
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}

.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}

.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}